.aside-panel {
	--base-avatar-size: 48px;

	padding: 48px 36px 52px;
	
	&__navigation {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;

		height: 100%;
	}

	&__logo-wrapper {
		--size: 34px;
	}

	&__logo-image {
		object-fit: contain;
	}

	&__link_chats {
		width: 100%;

		padding: 8px 24px;

		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 24px;

		transition: background 0.3s;

		@media(hover) {
			&:hover {
				background: var(--background-button-primary-hover);
			}
		}

		&:focus-visible {
			background: var(--background-button-primary-hover);
		}

		&:active {
			background: var(--background-button-primary-active);
		}

		&.aside-panel__link_active {
			background: var(--background-button-primary-active);
		}
	}

	&__link_profile {
		margin-top: auto;

		&.aside-panel__link_active {
			--base-avatar-border-color: var(--background-button-primary-active);
			--base-avatar-border-width: 5px;
		}
	}

	&__icon {
		--size: 24px;
		--url: url("/icons/chats.svg");

		color: var(--text-base-primary);
	}
}
