<main class="server-error">
	<h1 class="server-error__title base-text XXL Bold">500</h1>
	<span class="server-error__subtext base-text M">Мы уже фиксим</span>
	{{> base-link text="Назад к чатам" href="#" type="primary" data-href="chats" }}
</div>