<main class="server-error">
	<h1 class="server-error__title base-text base-text_size_xxl base-text_weight_bold">500</h1>
	<p class="server-error__subtext base-text base-text_size_m">Мы уже фиксим</p>
	{{#> base-link href="#" data-href="chats" }}
		Назад к чатам
	{{/base-link}}
</main>
