.server-error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;

	background: var(--background-base-primary);

	&__subtext {
		color: var(--text-base-secondary);

		margin: 12px 0 60px;
	}
}
