<main class="server-error">
	<h1 class="server-error__title base-text XXL Bold">500</h1>
	<p class="server-error__subtext base-text M">Мы уже фиксим</p>
	{{#> base-link href="#" data-href="chats" }}
		Назад к чатам
	{{/base-link}}
</main>