<main class="chats-communication">
	{{> aside-panel activePage="chats" }}
	<main class="chats-communication__content">
		<section class="chats-communication__chats chats-section">
			<header class="chats-section__header">
				<h1 class="chats-section__title base-text L Medium">Чаты</h1>
				{{#> base-button ariaLabel="Новый чат" type="secondary" }}
					<div class="chats-section__add-icon rect-size masked-block"></div>
				{{/base-button}}
			</header>
			<div class="chats-section__search">
				{{> base-input 
					placeholder="Найти чат..." 
					name="search" 
					id="search" 
					type="text" 
				}}
				<div class="chats-section__search-icon rect-size masked-block"></div>
			</div>
			<div class="chats-section__list">
				{{#each config}}
					{{> chats-list-item }}
				{{/each}}
			</div>
		</section>
		<section class="chats-communication__chat-window chat-window">
			{{#with currentChat}}
				<section class="chat-window__history">
					<header class="chat-window__header">
						<div class="chat-window__header-info">
							{{> base-avatar alt="Аватар чата {{ title }}" url="{{ avatar }}" }}
							<h3 class="chat-window__title base-text L Medium">{{ title }}</h3>
						</div>
						{{#> base-button ariaLabel="Открыть настройки чата" type="secondary" }}
							<div class="chat-window__options-icon rect-size masked-block"></div>
						{{/base-button}}
					</header>
					<main class="chat-window__content">
						{{#each history}}
							{{> chat-message this notYourself=(is-odd @index) }}
						{{/each}}
					</main>
					<footer class="chat-window__footer">
						<form class="chat-window__form">
							<textarea 
								class="chat-window__message-input base-text S"
								placeholder="Сообщение"
								name="message"
								id="message"	
							></textarea>
							{{#> base-button 
								 ariaLabel="Прикрепить вложение"
								 className="chat-window__attach-button" 
								 type="tertiary" 
							}}
								<div class="chat-window__attach-icon rect-size masked-block"></div>
							{{/base-button}}
							{{#> base-button
								 ariaLabel="Отправить сообщение"
								 className="chat-window__send-button"
								 type="quaternary"
							}}
								<div class="chat-window__send-icon rect-size masked-block"></div>
							{{/base-button}}
						</form>
					</footer>
				</section>
			{{else}}
				<div class="chat-window__empty">
					<picture class="chat-window__empty-wrapper rect-size">
						<img
							class="chat-window__empty-image"
							src="/logo-big.svg"
							alt="Логотип мессенджера «ME Чат»"
						/>
					</picture>
					<span class="chat-window__empty-text base-text M">Выберите чат, чтобы начать переписку.</span>
				</div>
			{{/with}}
		</section>
	</main>
</main>