<a 
	class="
		base-link 
		base-link_variant_{{ set-default variant "primary" }} 
		base-text 
		base-text_size_m 
		base-text_weight_medium
	" 
	href="{{ href }}"
	data-href="{{ data-href }}"
>
	{{> @partial-block }}
</a>