<main class="sign-in">
	<div class="sign-in__container">
		<div class="sign-in__welcome-block welcome-block">
			<picture class="sign-in__welcome-wrapper rect-size">
				<img
					class="sign-in__welcome-image"
					src="/logo.svg"
					alt="Логотип мессенджера «ME Чат»"
				/>
			</picture>
			<h1 class="welcome-block__title base-text XL Medium">Вход</h1>
			<span class="welcome-block__subtext">Рады видеть Вас снова!</span>
		</div>
		<form class="sign-in__form form">
			{{#each config}}
				{{> base-input }}
			{{/each}}
			
			{{> base-button 
				text="Войти" 
				type="primary" 
			}}
		</form>
		<span class="sign-in__subtext form-subtext">
			Нет аккаунта?
			{{> base-link text="Зарегистрироваться" type="primary" href="#" data-href="signUp" }}
		</span>
	</div>
</div>