<main class="sign-in">
	<div class="sign-in__container">
		<div class="sign-in__welcome-block welcome-block">
			<div class="sign-in__welcome-wrapper rect-size">
				<img
					class="sign-in__welcome-image"
					src="/logo.svg"
					alt="Логотип мессенджера «ME Чат»"
				/>
			</div>
			<h1 class="welcome-block__title base-text XL Medium">Вход</h1>
			<p class="welcome-block__subtext">Рады видеть Вас снова!</p>
		</div>
		<form class="sign-in__form form">
			{{#each config}}
				{{> base-input }}
			{{/each}}
			
			{{#> base-button type="submit" }} 
				Войти 
			{{/base-button}}
		</form>
		<span class="sign-in__subtext form-subtext">
			Нет аккаунта?
			{{#> base-link href="#" data-href="signUp" }}
				Зарегистрироваться
			{{/base-link}}
		</span>
	</div>
</main>