<main class="sign-in">
	<div class="sign-in__container">
		<div class="sign-in__welcome-block welcome-block">
			<div class="sign-in__welcome-wrapper rect-size">
				<img
					class="sign-in__welcome-image"
					src="/logo.svg"
					alt="Логотип мессенджера «ME Чат»"
				/>
			</div>
			<h1 class="welcome-block__title base-text base-text_size_xl base-text_weight_medium">Вход</h1>
			<p class="welcome-block__subtext">Рады видеть Вас снова!</p>
		</div>
		{{#BaseForm}}
			{{#each formSchema}}
				{{{ BaseInput }}}
			{{/each}}
			
			{{#BaseButton type="submit" }} 
				Войти 
			{{/BaseButton}}
		{{/BaseForm}}
		<span class="sign-in__subtext form-subtext">
			Нет аккаунта?
			{{#BaseLink href="#" data-href="signUp" }}
				Зарегистрироваться
			{{/BaseLink}}
		</span>
	</div>
</main>
