.base-icon-button {
	--_base-icon-button-size-button: var(--base-icon-button-size-button, 32px);
	--_base-icon-button-size-icon: var(--base-icon-button-size-icon, 20px);
}

.base-icon-button {
	--size: var(--_base-icon-button-size-button);

	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--background-button-primary);
	border: 1px solid transparent;
	border-radius: 100%;

	transition: background 0.3s, border-color 0.3s;

	@media(hover) {
		&:hover {
			// background: var(--background-button-primary-hover);
			background: transparent;
			border-color: var(--border-base-primary);
		}
	}

	&:focus-visible {
		background: var(--background-button-primary-hover);
	}

	&:active {
		background: var(--background-button-primary-active);
	}

	&__icon {
		--size: var(--_base-icon-button-size-icon);
	}
}