<button 
	class="base-icon-button rect-size"
	aria-label="{{ label }}" 
	{{ disabled }}
>
	<div 
		class="base-icon-button__icon rect-size masked-block"
		style="--url: url('{{ url }}')"	
	></div>
</button>