<div class="welcome-plug">
	<ul class="welcome-plug__list welcome-list">
		{{#each config}}
			<li class="welcome-list__el base-text XL Medium" data-href={{ href }}>{{ text }}</li>
		{{/each}}	
	</ul>
</div>