<div class="welcome-plug">
	<ul class="welcome-plug__list welcome-list">
		{{#each config}}
			<li
				class="welcome-list__el base-text base-text_size_xl base-text_weight_medium"
				data-href={{href}}
			>{{text}}</li>
		{{/each}}
	</ul>
</div>