<button 
	class="base-button base-button_variant_{{ set-default variant "primary" }} {{ className }} {{#if (not-equal variant "primary")}}rect-size{{/if}} base-text M Medium" 
	aria-label="{{ ariaLabel }}" 
	type="{{ type }}"
	{{#if disabled}} disabled {{/if}}
>
	{{> @partial-block }}
</button>