:root {
	--background-base-primary: #171717;
	--background-base-secondary: #191D1F;

	--background-base-primary-hover: #18252B;
	--background-base-primary-active: #143C4D;

	--background-base-overlay: #1A1A1A40;

	--background-button-primary: #131E22;
	--background-button-primary-hover: #090909;
	--background-button-primary-active: #0F6488;

	--background-button-secondary: #CEE2EB;
	--background-button-secondary-hover: #EDEDED;
	--background-button-secondary-active: #0F6488;

	--background-message-primary: #0B0B0B;
	--background-message-secondary: #18252B;

	--text-base-primary: #CEE2EB;
	--text-base-secondary: #C2C2C2;
	--text-negative: #E94C3F;

	--border-base-primary: #4E4E4E;
	--border-base-primary-active: #0F6488;

	--icon-base: #C2C2C2;
	--icon-base-hover: #CEE2EB;

	--base-input-background: #18252B;
	--base-input-placeholder: #7F7F7F;
	--base-input-border-active: #068AC2;
	--base-input-border-error: #E67B72;

	--base-button-background-primary: #CEE2EB;
	--base-button-background-primary-hover: #EDEDED;
	--base-button-text-primary: #0B0B0B;

	--base-link-text-primary: #068AC2;
}

:root {
	--Regular-font-weight: 400;
	--Medium-font-weight: 500;
	--Semibold-font-weight: 600;
	--Bold-font-weight: 700;

	--XS-font-size: 12px;
	--S-font-size: 14px;
	--M-font-size: 16px;
	--L-font-size: 28px;
	--XL-font-size: 36px;
	--XXL-font-size: 60px;
}
