:root {
	--background-base-primary: #171717;
	--background-base-secondary: #191d1f;

	--background-base-primary-hover: #18252b;
	--background-base-primary-active: #143c4d;

	--background-base-overlay: #1a1a1a40;

	--background-button-primary: #131e22;
	--background-button-primary-hover: #090909;
	--background-button-primary-active: #0f6488;

	--background-button-secondary: #cee2eb;
	--background-button-secondary-hover: #ededed;
	--background-button-secondary-active: #0f6488;

	--background-message-primary: #0b0b0b;
	--background-message-secondary: #18252b;

	--text-base-primary: #cee2eb;
	--text-base-secondary: #c2c2c2;
	--text-negative: #e94c3f;

	--border-base-primary: #4e4e4e;
	--border-base-primary-active: #0f6488;

	--icon-base: #c2c2c2;
	--icon-base-hover: #cee2eb;

	--base-input-background: #18252b;
	--base-input-placeholder: #7f7f7f;
	--base-input-border-active: #068ac2;
	--base-input-border-error: #e67b72;

	--base-button-background-primary: #cee2eb;
	--base-button-background-primary-hover: #ededed;
	--base-button-text-primary: #0b0b0b;

	--base-link-text-primary: #068ac2;
}

:root {
	--Regular-font-weight: 400;
	--Medium-font-weight: 500;
	--Semibold-font-weight: 600;
	--Bold-font-weight: 700;

	--XS-font-size: 12px;
	--S-font-size: 14px;
	--M-font-size: 16px;
	--L-font-size: 28px;
	--XL-font-size: 36px;
	--XXL-font-size: 60px;
}
