<main class="not-found">
	<h1 class="not-found__title base-text XXL Bold">404</h1>
	<span class="not-found__subtext base-text M">Не туда попали</span>
	{{> base-link text="Назад к чатам" href="#" type="primary" data-href="chats" }}
</div>