<main class="not-found">
	<h1 class="not-found__title base-text XXL Bold">404</h1>
	<span class="not-found__subtext base-text M">Не туда попали</span>
	{{#> base-link href="#" data-href="chats" }}
		Назад к чатам
	{{/base-link}}
</div>