<main class="not-found">
	<h1 class="not-found__title base-text base-text_size_xxl base-text_weight_bold">404</h1>
	<p class="not-found__subtext base-text base-text_size_m">Не туда попали</p>
	{{#BaseLink href="#" data-href="chats" }}
		Назад к чатам
	{{/BaseLink}}
</main>
