<main class="not-found">
	<h1 class="not-found__title base-text base-text_size_XXL base-text_weight_bold">404</h1>
	<p class="not-found__subtext base-text base-text_size_m">Не туда попали</p>
	{{#> base-link href="#" data-href="chats" }}
		Назад к чатам
	{{/base-link}}
</main>
